p {
  margin: 0;
}
div {
  display: grid;
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  margin: 20px 10px;
  float: left;
}
h3 {
  clear: both;
}
section {
  text-align: center;
  line-height: 2;
}
.border section {
  border: 1px dashed #000;
}

.row {
  grid-template-rows: repeat(3, 1fr);
}
.column {
  grid-template-columns: repeat(4, 1fr);
}

.one {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background: #F60;
  color: #FFF;
}
.two {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  background: #F60;
  color: #FFF;
}
.three {
  grid-row-start: -2;
  grid-row-end: -1;
  grid-column-start: -2;
  grid-column-end: -1;
  background: #F60;
  color: #FFF;
}
