p {
  margin: 0;
}
div {
  display: grid;
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  margin: 20px 10px;
  float: left;
}
.l-one {
  line-height: 1;
}
h3 {
  clear: both;
}
section {
  text-align: center;
  line-height: 50px;
}
.border section {
  border: 1px dashed #000;
}

.row {
  grid-template-rows: 50px 50px;
}
.column {
  grid-template-columns: 1fr 1fr 1fr;
}

.column-remaining {
  grid-template-columns: 30px 1fr 1fr;
}

